@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html {
    @apply bg-white text-ink-900 antialiased;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
      Arial, "Apple Color Emoji", "Segoe UI Emoji";
    text-rendering: optimizeLegibility;
  }

  a {
    @apply underline decoration-ink-300 underline-offset-4 hover:decoration-ink-500;
  }
}

